In [1]:
from nexsci import downloader as dl
#print(nexsci.__version__)

ModuleNotFoundError: No module named 'nexsci'

In [3]:
dl.query_nexsci?

Signature: dl.query_nexsci(hostname, keyword='all', letter='b', replace=False, verbose=True)
Docstring: query exoplanet system parameters from NExSci database
File:      ~/miniconda3/envs/astroconda35/lib/python3.6/site-packages/nexsci/downloader.py
Type:      function

In [2]:
hostname = 'HAT-P-44'
hatp12 = dl.query_nexsci(hostname,letter='b',verbose=True)
hatp12

Querying HAT-P-44...

Downloading data from URL:
http://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets

Saved: confirmed_planets.csv
in /home/jp/data/

Main reference: Morton et al. 2016
Discovery reference: Morton et al. 2016

See meaning of columns here:
https://exoplanetarchive.ipac.caltech.edu/docs/API_exoplanet_columns.html

,st_pm,st_age,pl_orbtper,dec,pl_occdep,st_nglc,st_elon,pl_name,pl_disc,st_spstr,...,st_metfeerr2,gaia_plxerr1,pl_radserr1,st_radverr2,pl_trandeperr1,pl_ratrorerr1,st_masserr2,pl_trandurerr2,pl_msinijerr1,pl_masseerr2
594,NaN,7.5,NaN,47.014687,NaN,0,185.108139,HAT-P-44 b,2014,NaN,...,-0.1,NaN,0.011,-0.05,NaN,0.001,-0.04,-0.0008,NaN,-9.217

In [3]:
summary = dl.query_summary(hostname,verbose=False)
summary

Querying HAT-P-44...

Main reference: Morton et al. 2016
Discovery reference: Morton et al. 2016

                   value        err1        err2       units
pl_eqt       1108.000000   51.000000  -32.000000           K
pl_imppar       0.172000    0.079000   -0.074000           -
pl_insol             NaN         NaN         NaN  Earth flux
pl_massj        0.352000    0.029000   -0.029000        Mjup
pl_orbeccen     0.044000    0.052000   -0.052000           -
pl_orbincl     89.100000    0.400000   -0.400000         deg
pl_orbper       4.301219    0.000019   -0.000019           d
pl_orbsmax      0.050700    0.000700   -0.000700          au
pl_radj         1.242000    0.106000   -0.051000        Rjup
st_dens              NaN         NaN         NaN       g/cm3
st_logg         4.460000    0.060000   -0.060000  log(cm/s2)
st_metfe        0.330000    0.100000   -0.100000        Fe/H
st_rad          0.950000    0.080000   -0.040000        Rsun
st_teff      5295.000000  100.000000 -100.000000           K

In [4]:
transit_params = dl.query_transit_params(hostname,precision=4)
transit_params

Querying HAT-P-44...

Main reference: Morton et al. 2016
Discovery reference: Morton et al. 2016

See meaning of columns here:
https://exoplanetarchive.ipac.caltech.edu/docs/API_exoplanet_columns.html

                  value        err1        err2 units
pl_imppar    1.7200e-01  7.9000e-02 -7.4000e-02     -
pl_orbeccen  4.4000e-02  5.2000e-02 -5.2000e-02     -
pl_orbincl   8.9100e+01  4.0000e-01 -4.0000e-01   deg
pl_orbper    4.3012e+00  1.9000e-05 -1.9000e-05     d
pl_trandep          NaN         NaN         NaN     %
pl_trandur   1.3020e-01  8.0000e-04 -8.0000e-04     d
pl_tranmid   2.4557e+06  2.4000e-04 -2.4000e-04    JD
Rp/Rs        1.3435e-01  1.6108e-02 -7.9015e-03     -
a/Rs         1.1476e+01  9.7930e-01 -5.0851e-01     -

## Other helper functions

In [5]:
keyword = 'all'

DF=dl.parse_data_columns(keyword)

In [6]:
DF.keys()

dict_keys(['default', 'planet', 'stellar', 'photometry', 'color'])

In [7]:
df=DF['default']
df.head()

,Database Column Name,Table Label,Description,Uncertainties Column (positive +) (negative -),Displayed String Name,Limit Column,Number of Measurements
0,pl_hostname,Host Star Name,Stellar name most commonly used in the literat...,NaN,NaN,NaN,NaN
1,pl_letter,Planet Letter,Letter assigned to the planetary component of ...,NaN,NaN,NaN,NaN
2,pl_discmethod,Discovery Method,Method by which the planet was first identified.,NaN,NaN,NaN,NaN
3,pl_pnum,Number of Planets in System,Number of planets in the planetary system.,NaN,NaN,NaN,NaN
4,pl_orbper,Orbital Period (days),Time the planet takes to make a complete orbit...,(+) pl_orbpererr1 (-) pl_orbpererr2,pl_orbperstr,pl_orbperlim,pl_orbpern

In [8]:
dl.get_param_names(DF,keyword)

'st_pm,st_age,pl_orbtper,dec,pl_occdep,st_nglc,st_elon,pl_name,pl_disc,st_spstr,pl_angsep,st_teff,pl_radj,st_h,gaia_gmag,pl_msinie,pl_k2flag,st_mips3,st_nrvc,pl_orblper,pl_locale,st_photn,st_wise4,st_vsini,pl_rvamp,st_rah,st_ic,st_lum,st_vj,st_bj,pl_orbper,pl_st_npar,st_iras2,pl_ttvflag,st_actlx,st_nimg,st_k,pl_rvflag,ra_str,st_iras1,gaia_dist,st_vjmrc,pl_edelink,st_bmvj,st_rc,st_iras4,st_jmk2,st_mips1,pl_masse,st_c1,pl_eqt,st_actr,st_j,st_metratio,pl_imgflag,st_nplc,st_nts,st_jmh2,st_acts,pl_msinij,pl_astflag,pl_massj,st_m1,pl_trandep,pl_orbeccen,st_glon,pl_omflag,ra,st_dist,st_elat,pl_letter,pl_rads,pl_cbflag,pl_telescope,st_colorn,pl_trandur,st_dens,gaia_pmra,pl_pnum,st_bmy,pl_discmethod,st_logg,st_hmk2,st_umbj,st_nspec,st_wise2,st_wise1,pl_instrument,hd_name,st_irac1,pl_tranflag,gaia_plx,pl_def_refname,pl_bmasse,pl_tsystemref,pl_orbincl,pl_rade,rowupdate,st_rad,hip_name,pl_disc_refname,pl_tranmid,st_irac4,pl_hostname,dec_str,pl_kepflag,st_irac2,pl_nnotes,swasp_id,st_glat,st_radv,pl_bmassj,st_iras3,pl_pelink,st_optmag,pl_publ_date,st_irac3,pl_orbsmax,st_mass,st_optband,st_wise3,pl_imppar,pl_st_nref,pl_insol,gaia_pmdec,st_metfe,pl_facility,pl_ratdor,pl_ratror,st_plx,st_uj,st_pmra,pl_status,gaia_pm,st_vjmic,pl_dens,pl_bmassprov,pl_mnum,st_naxa,st_mips2,st_pmdec'

In [9]:
download_url=dl.get_nexsci_download_url(keyword)
download_url[:100]

'http://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets&select=st_pm'

In [10]:
df=dl.fetch_csv(download_url)
df.head()

Downloading data from URL:
http://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets

,st_pm,st_age,pl_orbtper,dec,pl_occdep,st_nglc,st_elon,pl_name,pl_disc,st_spstr,...,st_metfeerr2,gaia_plxerr1,pl_radserr1,st_radverr2,pl_trandeperr1,pl_ratrorerr1,st_masserr2,pl_trandurerr2,pl_msinijerr1,pl_masseerr2
0,NaN,3.80,NaN,50.4786,NaN,0,321.0627,Kepler-870 b,2016,NaN,...,-0.167,NaN,0.005,NaN,NaN,0.0008,-0.06,-0.0053,NaN,NaN
1,NaN,3.47,NaN,43.3682,NaN,0,312.1294,Kepler-871 b,2016,NaN,...,-0.150,NaN,0.010,NaN,NaN,0.0029,-0.07,-0.0058,NaN,NaN
2,NaN,4.17,NaN,43.6056,NaN,0,313.6581,Kepler-872 b,2016,NaN,...,-0.163,NaN,0.005,NaN,NaN,0.0006,-0.08,-0.0021,NaN,NaN
3,NaN,2.95,NaN,51.2713,NaN,0,323.7734,Kepler-873 b,2016,NaN,...,-0.139,NaN,0.015,NaN,NaN,0.0033,-0.09,-0.0039,NaN,NaN
4,NaN,3.39,NaN,43.1419,NaN,0,316.0278,Kepler-875 b,2016,NaN,...,-0.159,NaN,0.009,NaN,NaN,0.0053,-0.09,-0.0053,NaN,NaN

## Shortcut

In [11]:
df=dl.download_nexsci(keyword,replace=True)

Downloading data from URL:
http://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets

Saved: confirmed_planets.csv
in /home/jp/data/