In [1]:
from nexsci import downloader as dl
#print(nexsci.__version__)

In [2]:
hostname = 'HAT-P-12'
hatp12 = dl.query_nexsci(hostname,letter='b',verbose=True)
hatp12

Querying HAT-P-12...

Main reference: Morton et al. 2016
Discovery reference: Morton et al. 2016

See meaning of columns here:\https://exoplanetarchive.ipac.caltech.edu/docs/API_exoplanet_columns.html

,Unnamed: 0,pl_bmassj,pl_facility,pl_st_nref,st_metfe,pl_pnum,pl_orbsmax,gaia_plx,pl_msinie,pl_status,...,pl_trandeperr2,pl_ratdorerr2,pl_tranmiderr2,pl_orbinclerr1,pl_rvamperr2,pl_massjerr2,pl_angseperr1,pl_bmassjerr1,pl_occdeperr1,st_metfeerr2
1273,1273,0.211,HATNet,10,-0.29,1,0.0384,NaN,NaN,3,...,-0.036,-0.21,-0.0002,0.4,-1.9,-0.012,0.0074,0.012,NaN,-0.05

In [7]:
transit_params = dl.query_transit_params(hostname,precision=4)
transit_params

Querying HAT-P-12...

Main reference: Morton et al. 2016
Discovery reference: Morton et al. 2016

See meaning of columns here:\https://exoplanetarchive.ipac.caltech.edu/docs/API_exoplanet_columns.html

               value        err1        err2
b         2.1100e-01  6.6000e-02 -7.8000e-02
ecc       0.0000e+00         NaN         NaN
inc[deg]  8.9000e+01  4.0000e-01 -4.0000e-01
P[d]      3.2131e+00  2.1000e-06 -2.1000e-06
a[au]     3.8400e-02  3.0000e-04 -3.0000e-04
Rp[Rj]    9.5900e-01  2.9000e-02 -2.1000e-02
dep[%]    1.9770e+00  3.7000e-02 -3.6000e-02
t14[d]    9.7400e-02  6.0000e-04 -6.0000e-04
t0[d]     2.4544e+06  2.0000e-04 -2.0000e-04
logg      4.6100e+00  1.0000e-02 -1.0000e-02
[Fe/H]   -2.9000e-01  5.0000e-02 -5.0000e-02
Rs[Rsun]  7.0000e-01  2.0000e-02 -1.0000e-02
Teff      4.6500e+03  6.0000e+01 -6.0000e+01
Rp/Rs     1.4078e-01  5.8570e-03 -3.6809e-03
a/Rs      1.1796e+01  3.4940e-01 -1.9207e-01

## Other helper functions

In [2]:
keyword = 'all'

DF=dl.parse_data_columns(keyword)

In [3]:
DF.keys()

dict_keys(['default', 'planet', 'stellar', 'photometry', 'color'])

In [4]:
df=DF['default']
df.head()

,Database Column Name,Table Label,Description,Uncertainties Column (positive +) (negative -),Displayed String Name,Limit Column,Number of Measurements
0,pl_hostname,Host Star Name,Stellar name most commonly used in the literat...,NaN,NaN,NaN,NaN
1,pl_letter,Planet Letter,Letter assigned to the planetary component of ...,NaN,NaN,NaN,NaN
2,pl_discmethod,Discovery Method,Method by which the planet was first identified.,NaN,NaN,NaN,NaN
3,pl_pnum,Number of Planets in System,Number of planets in the planetary system.,NaN,NaN,NaN,NaN
4,pl_orbper,Orbital Period (days),Time the planet takes to make a complete orbit...,(+) pl_orbpererr1 (-) pl_orbpererr2,pl_orbperstr,pl_orbperlim,pl_orbpern

In [5]:
dl.get_param_names(DF,keyword)

'pl_bmassj,pl_facility,pl_st_nref,st_metfe,pl_pnum,pl_orbsmax,gaia_plx,pl_msinie,pl_status,st_ic,st_logg,pl_imppar,pl_ttvflag,pl_rads,pl_masse,st_nplc,st_radv,pl_kepflag,st_teff,st_metratio,pl_rade,pl_nnotes,pl_msinij,swasp_id,st_vj,st_rc,st_rah,st_naxa,st_irac3,st_actr,ra_str,pl_k2flag,st_nts,st_iras2,pl_orbper,st_nglc,st_irac4,st_jmh2,st_glon,pl_ratdor,pl_telescope,pl_tranmid,pl_trandep,gaia_pmdec,st_pm,pl_radj,pl_rvamp,gaia_pm,pl_occdep,hd_name,pl_orbtper,st_vjmrc,pl_letter,pl_def_refname,st_rad,pl_disc_refname,st_colorn,st_iras4,st_wise2,st_dist,pl_bmasse,st_bmvj,st_wise4,pl_tranflag,pl_dens,pl_insol,pl_orbincl,st_nimg,pl_discmethod,pl_astflag,st_plx,st_elat,pl_mnum,st_umbj,st_dens,st_lum,pl_name,st_bj,st_vsini,pl_edelink,st_h,gaia_pmra,st_age,pl_tsystemref,st_pmdec,pl_ratror,st_elon,st_spstr,pl_angsep,gaia_dist,st_vjmic,st_nspec,st_mass,st_iras1,pl_trandur,pl_bmassprov,st_irac2,pl_massj,st_photn,st_wise1,st_bmy,rowupdate,pl_omflag,st_mips1,pl_pelink,st_glat,pl_instrument,pl_rvflag,st_optband,pl_publ_date,st_j,st_pmra,st_optmag,ra,st_irac1,st_c1,st_actlx,dec_str,st_hmk2,pl_eqt,pl_disc,st_acts,st_uj,pl_cbflag,st_k,st_wise3,pl_hostname,st_iras3,dec,hip_name,pl_st_npar,pl_orbeccen,pl_orblper,st_m1,st_jmk2,gaia_gmag,pl_imgflag,st_mips2,pl_locale,st_mips3,st_nrvc'

In [6]:
download_url=dl.get_nexsci_download_url(keyword)
download_url[:100]

'http://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets&select=pl_bm'

In [7]:
df=dl.fetch_csv(download_url)
df.head()

Downloading data from URL:
http://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets

,pl_bmassj,pl_facility,pl_st_nref,st_metfe,pl_pnum,pl_orbsmax,gaia_plx,pl_msinie,pl_status,st_ic,...,pl_trandeperr2,pl_ratdorerr2,pl_tranmiderr2,pl_orbinclerr1,pl_rvamperr2,pl_massjerr2,pl_angseperr1,pl_bmassjerr1,pl_occdeperr1,st_metfeerr2
0,NaN,Kepler,9,-0.01,1,NaN,NaN,NaN,3,NaN,...,NaN,NaN,-0.00434,NaN,NaN,NaN,NaN,NaN,NaN,-0.167
1,NaN,Kepler,8,0.09,1,NaN,NaN,NaN,3,NaN,...,NaN,NaN,-0.00442,NaN,NaN,NaN,NaN,NaN,NaN,-0.150
2,NaN,Kepler,8,0.04,1,NaN,NaN,NaN,3,NaN,...,NaN,NaN,-0.00159,NaN,NaN,NaN,NaN,NaN,NaN,-0.163
3,NaN,Kepler,9,0.07,1,NaN,NaN,NaN,3,NaN,...,NaN,NaN,-0.00288,NaN,NaN,NaN,NaN,NaN,NaN,-0.139
4,NaN,Kepler,9,0.03,1,NaN,NaN,NaN,3,NaN,...,NaN,NaN,-0.00397,NaN,NaN,NaN,NaN,NaN,NaN,-0.159

## Shortcut

In [12]:
df=dl.download_nexsci(keyword,replace=True)

Downloading data from URL:
http://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets

Saved: confirmed_planets.csv
in /home/jp/data/